body{
    background-color: hsl(0, 5%, 7%);
    font-family: 'Inter';
}

.social-link-profile{
    max-width: 300px;
    min-width: 250px;
    text-align: center;
    background-color: hsl(0, 4%, 10%);
    margin: 35px auto;
    color: white;
    padding: 10px;
    border-radius:  15px;
}

 img{
    display: block;
    width: 90px;
    margin: 15px auto;
    border-radius: 45px;        
  }

p{
  font-size: 14px;
}
    
p:first-of-type{
 color: hsl(75, 94%, 57%); 
 margin-top: -15px;
}

p:last-of-type{
  margin-top: 20px;
}

.links a{
  width: 250px;
  padding: 15px;
  text-align: center;
  background-color: hsl(0, 4%, 14%);
  margin: auto;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
}

.links{
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 13px;
}

a:hover{
  background-color: hsl(75, 94%, 57%);
  color: rgb(0,0,0);
}



